# Local
.DS_Store
*.local
*.log*
.env.production
.env.development
.env.local

# Dist
node_modules
dist/
server/backups/

# Profile
.rspack-profile-*/

# IDE
.vscode/*
!.vscode/extensions.json
.idea/

*.lock
.yarn
!.yarn/releases
